@import './variables';

:root {
  // Easter egg: if you found it, be happy – this is your color! <3
  --app-primary-background-color: #242a2d;

  --app-primary-color: #182d3d;
  --app-secondary-color: #F16A54;
}
