// Common colors
$black: #000;
$gray: #848484;
$white: #FFF;
$golden: #9a9393;
$primary-light: #ecada2;

// I know, these variables above could be extracted to root variables
// instead to improve performance on compilation
